#iconMarket{
    cursor: pointer;
    width: 65%;
    height: 100%;
}

#iconMarket:hover{
    transform: rotate(-360deg);
    transition: 1s;
}
.mr-auto,
.Cart{
    font-size: x-large;
}
.Cart{
    margin-right: 4%;
}